<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../static/css/style.css">

</head>
<body>
<header data-th-fragment="header">
        <nav class="navbar">
            <!-- Nombre de la marca -->
            <a href="producto" class="navbar-brand">Productos</a>
            <!-- Botón de menú para dispositivos móviles -->
            <div class="menu-toggle" id="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <!-- Menú de navegación -->
            <div class="navbar-menu" id="navbar-menu">
                <a href="#">Inicio</a>
                <div class="has-submenu">
                    <a href="#">Registros</a>
                    <div class="submenu">
                        <a href="/registroProducto">Productos</a>
                        <a href="/registroCliente">Clientes</a>
                    </div>
                </div>
                <div class="has-submenu">
                    <a href="#">Listas</a>
                    <div class="submenu">
                        <a href="/listadoClientes">Clientes</a>
                        <a href="/listadoProducto">Productos</a>
                    </div>
                </div>
               <div class="has-submenu"> 
               <a href="#">Compras</a> 
               <div class="submenu"> 
               <a href="/compra">Compra</a> 
               <a href="/recibo">Recibo</a> 
               </div> 
               </div>
                <a href="/contactos">Contactos</a>
            </div>
        </nav>
    </header>
</body>
</html>