<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contactos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div data-th-replace="~{layout/header::header}"></div> 
    <div class="container mt-5">
        <h1 class="mb-4">Contactos</h1>
        <p><strong>Puedes contactarnos a través de: </strong></p>
        <p><strong>Empleada/o:</strong> <a href=> Olviera Rodrigo H.J</a></p>
        <p><strong>Correo Electrónico:</strong> <a href=>rodrigo_1299@hotmail.com</a></p>
        <p><strong>Teléfono:</strong> <a href=>+5403885800789</a></p>
        <p><strong>O</strong>
        <p><strong>Empleada/o:</strong> <a href=>Javier Alejandro Choque</a></p>
        <p><strong>Correo Electrónico:</strong> <a href=>alejandroj889@gmail.com </a></p>
        <p><strong>Teléfono:</strong> <a href=>+543884133529</a></p>
        <p><strong>O</strong>
        <p><strong>Empleada/o:</strong> <a href=>Judith Marisel Maizares</a></p>
        <p><strong>Correo Electrónico:</strong> <a href=>maizaresmarisel@gmail.com</a></p>
        <p><strong>Teléfono:</strong> <a href=>+543883334565</a></p>
        <p><strong>O</strong>
        <p><strong>Empleada/o:</strong> <a href=>Leonela Reneé Choque </a></p>
        <p><strong>Correo Electrónico:</strong> <a href=>choque9leo@gmail.com</a></p>
        <p><strong>Teléfono:</strong> <a href=>+543885049760</a></p>
        <p><strong>O</strong>
        <p><strong>Empleada/o:</strong> <a href=>Elisa Yanina Liquitay </a></p>
        <p><strong>Correo Electrónico:</strong> <a href=>elisayaninalz@gmail.com</a></p>
        <p><strong>Teléfono:</strong> <a href=>+543884294246</a></p>
        <p><strong>Gracias por visitarnos. Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.</strong>
    </div>
    <div class="pre-footer"></div>
    <footer><div></div></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

