<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Productos</title>
</head>

<body>
    <div data-th-replace="~{layout/header::header}"></div> 
    <!-- Filtros -->
    <div class="filtros">
        <label for="filter-brand">Marca:</label>
        <select id="filter-brand">
            <option disabled selected>Filtrar por marca</option>
            <option value="Samsung">Samsung</option>
            <option value="Motorola">Motorola</option>
        </select>
        <label for="filter-price">Precio máximo:</label>
        <input type="number" id="filter-price" placeholder="Filtrar por precio">
        <label for="filter-offer">Ofertas:</label>
        <input type="checkbox" id="filter-state"> Mostrar solo Ofertas
    </div>

    <!-- Productos -->
    <section class="contenido">
        <div class="mostrador">
            <!-- Iterar sobre los productos cargados dinámicamente -->
            <div class="producto" data-th-each="producto : ${listadoProducto}">
                <!-- Imagen -->
                <img class="img" data-th-src="${'data:image/png;base64,' + producto.imagen}" data-th-alt="${producto.modelo}">
                <!-- Botón para comprar -->
                <div class="middle">
					<a class="boton-compra" data-id-producto="${producto.id}" data-th-href="@{'/compra/' + ${producto.id}}">Ir a Comprar</a>
                </div>
                <!-- Detalles del producto -->
                <div class="detalle">
                    <a data-th-text="${producto.marca}"></a>
                    <a data-th-text="${producto.modelo}"></a>
                    <p data-th-text="'$ ' + ${producto.precio}"></p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div>
        </div>
    </footer>

   <script>
        /// Script para el menú colapsable
        const menuToggle = document.getElementById('menu-toggle');
        const navbarMenu = document.getElementById('navbar-menu');
        menuToggle.addEventListener('click', () => {
            navbarMenu.classList.toggle('active');
        });
    </script> 
</body>

</html>
