<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Productos</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <!-- Nombre de la marca -->
            <a href="#" class="navbar-brand">Productos</a>
            <!-- Botón de menú para dispositivos móviles -->
            <div class="menu-toggle" id="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <!-- Menú de navegación -->
            <div class="navbar-menu" id="navbar-menu">
                <a href="#">Inicio</a>
                <div class="has-submenu">
                    <a href="#">Registros</a>
                    <div class="submenu">
                        <a href="#">Productos</a>
                        <a href="#">Clientes</a>
                    </div>
                </div>
                <div class="has-submenu">
                    <a href="#">Listas</a>
                    <div class="submenu">
                        <a href="#">Clientes</a>
                        <a href="#">Productos</a>
                    </div>
                </div>
                <a href="#">Contacto</a>
            </div>
        </nav>
    </header>

    <!-- Filtros -->
    <div class="filtros">
        <label for="filter-brand">Marca:</label>
        <select id="filter-brand">
            <option disabled selected>Filtrar por marca</option>
            <option value="Samsung">Samsung</option>
            <option value="Motorola">Motorola</option>
        </select>
        <label for="filter-price">Precio máximo:</label>
        <input type="number" id="filter-price" placeholder="Filtrar por precio">
        <label for="filter-offer">Ofertas:</label>
        <input type="checkbox" id="filter-state"> Mostrar solo Ofertas
    </div>

    <!-- Productos -->
    <section class="contenido">
        <div class="mostrador">
            <!-- Iterar sobre los productos cargados dinámicamente -->
            <div class="producto" data-th-each="producto : ${listadoProducto}">
                <!-- Imagen -->
                <img class="img" data-th-src="${'data:image/png;base64,' + producto.imagen}" data-th-alt="${producto.modelo}">
                <!-- Botón para comprar -->
                <div class="middle">
					<a class="boton-compra" data-id-producto="${producto.id}" data-th-href="@{'/compra/' + ${producto.id}}">Ir a Comprar</a>
                </div>
                <!-- Detalles del producto -->
                <div class="detalle">
                    <a data-th-text="${producto.marca}"></a>
                    <a data-th-text="${producto.modelo}"></a>
                    <p data-th-text="'$ ' + ${producto.precio}"></p>
                    <!-- <p data-th-text="'Descripción: ' + ${producto.descripcion}"></p>
                    <p data-th-text="'Origen: ' + ${producto.origen}"></p>
                    <p data-th-text="'Color: ' + ${producto.color}"></p>
                    <p data-th-text="'Almacenamiento: ' + ${producto.almacenamiento}"></p>
                    <p data-th-text="'RAM: ' + ${producto.ram}"></p>
                    <p data-th-text="'Stock: ' + ${producto.stock}"></p>
                    <p data-th-if="${producto.estado}" data-th-text="'Estado: Disponible'"></p>
                    <p data-th-if="${!producto.estado}" data-th-text="'Estado: No disponible'"></p> -->
                    
                   
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div>
        </div>
    </footer>

   <script>
        // Script para el menú colapsable
        const menuToggle = document.getElementById('menu-toggle');
        const navbarMenu = document.getElementById('navbar-menu');
        menuToggle.addEventListener('click', () => {
            navbarMenu.classList.toggle('active');
        });
    </script> 
</body>

</html>
